<div class="file-input-container">
    <div class="custom-file">
        <input type="file" class="custom-file-input image-upload-preview" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
        <input type="hidden" class="image-upload-optimized-data" name="{{ widget.name }}_image_data">
        <label class="custom-file-label" for="customFile">Upload image</label>
    </div>
    <div class="mt-3{% if not widget.is_initial %} d-none{% endif %}">
        <img class="img-thumbnail" src="{{ widget.value.url }}" />
    </div>
</div>