{% extends "base.html" %}

{% load static %} 

{% load bootstrap4 %}

{% block content %}
<div class="row align-items-center"></div>
               
                        <div class="d-flex justify-content-around">

                            <button class="btn btn-primary" id="jsstyle" onclick="display_random_image_kitten();">
                                KITTEN
                            </button>

                            <button class="btn btn-primary" id="jsstyle" onclick="display_random_image_flower();">
                                FLOWER
                            </button>

                        </div>

                        <div class="d-flex justify-content-around">
                        
                        <div>
                    <div class="container">
                            <div class="row imagetiles">
                                
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        
                                </div>
                            </div>
                        </div>
                       
</div>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

function display_random_image_flower() 
{
    var images = 
        [
        {src: "http://zacoberg.com/static/images/flower/1.jpg"}, 
        {src: "http://zacoberg.com/static/images/flower/2.jpg"},
        {src: "http://zacoberg.com/static/images/flower/3.jpg"},
        {src: "http://zacoberg.com/static/images/flower/4.jpg"},
        {src: "http://zacoberg.com/static/images/flower/5.jpg"},
        {src: "http://zacoberg.com/static/images/flower/6.jpg"},
        {src: "http://zacoberg.com/static/images/flower/7.jpg"},
        {src: "http://zacoberg.com/static/images/flower/8.jpg"},
        {src: "http://zacoberg.com/static/images/flower/9.jpg"},
        {src: "http://zacoberg.com/static/images/flower/10.jpg"},
        {src: "http://zacoberg.com/static/images/flower/11.jpg"},
        {src: "http://zacoberg.com/static/images/flower/12.jpg"},
        {src: "http://zacoberg.com/static/images/flower/13.jpg"},
        {src: "http://zacoberg.com/static/images/flower/14.jpg"},
        {src: "http://zacoberg.com/static/images/flower/15.jpg"},
        {src: "http://zacoberg.com/static/images/flower/16.jpg"},
        {src: "http://zacoberg.com/static/images/flower/17.jpg"}, 
        {src: "http://zacoberg.com/static/images/flower/18.jpg"}, 
        {src: "http://zacoberg.com/static/images/flower/19.jpg"},
        {src: "http://zacoberg.com/static/images/flower/20.jpg"},
        {src: "http://zacoberg.com/static/images/flower/21.jpg"},
        {src: "http://zacoberg.com/static/images/flower/22.jpg"},
        {src: "http://zacoberg.com/static/images/flower/23.jpg"},
        {src: "http://zacoberg.com/static/images/flower/24.jpg"},
        {src: "http://zacoberg.com/static/images/flower/25.jpg"},
        {src: "http://zacoberg.com/static/images/flower/26.jpg"},
        {src: "http://zacoberg.com/static/images/flower/27.jpg"},
        {src: "http://zacoberg.com/static/images/flower/28.jpg"},
        {src: "http://zacoberg.com/static/images/flower/29.jpg"},
        {src: "http://zacoberg.com/static/images/flower/30.jpg"},
        {src: "http://zacoberg.com/static/images/flower/31.jpg"},
        {src: "http://zacoberg.com/static/images/flower/32.jpg"},
        {src: "http://zacoberg.com/static/images/flower/33.jpg"},
        {src: "http://zacoberg.com/static/images/flower/34.jpg"},    
        {src: "http://zacoberg.com/static/images/flower/35.jpg"}, 
        {src: "http://zacoberg.com/static/images/flower/36.jpg"},
        {src: "http://zacoberg.com/static/images/flower/37.jpg"},
        {src: "http://zacoberg.com/static/images/flower/38.jpg"},
        {src: "http://zacoberg.com/static/images/flower/39.jpg"},
        {src: "http://zacoberg.com/static/images/flower/40.jpg"},
        {src: "http://zacoberg.com/static/images/flower/41.jpg"},
        {src: "http://zacoberg.com/static/images/flower/42.jpg"},
        {src: "http://zacoberg.com/static/images/flower/44.jpg"},
        {src: "http://zacoberg.com/static/images/flower/45.jpg"},
        {src: "http://zacoberg.com/static/images/flower/46.jpg"},
        {src: "http://zacoberg.com/static/images/flower/47.jpg"},
        {src: "http://zacoberg.com/static/images/flower/48.jpg"},
        {src: "http://zacoberg.com/static/images/flower/49.jpg"}
        ];
    
    var preBuffer = [];
    for (var i = 0, j = images.length; i < j; i++) 
    {
        preBuffer[i] = new Image();
        preBuffer[i].src = images[i].src;
    }
   
        // get random image number but don't repeat until all have been chosen 
        /*function randomNoRepeats(array){
            var copy = array.slice(0);
            return function(){
                if (copy.length < 1 ) {copy = array.slice(0);}
                var index = Math.floor(Math.random() * copy.length);
                var item = copy[index];
                copy.splice(index, 1);
                return item;
            };
        }*/






        // create random image number
        function getRandomImage(min,max) 
        {
        //  return Math.floor(Math.random() * (max - min + 1)) + min;
    
        imn = Math.floor(Math.random() * (max - min + 1)) + min;
        return preBuffer[imn];
        }  

        // 0 is first image,   preBuffer.length - 1) is  last image
  
        var newImage = getRandomImage(0, preBuffer.length - 1);
 
        // remove the previous images
        var images = document.getElementsByTagName('img');
        var l = images.length;
        for (var p = 0; p < l; p++) {
         images[0].parentNode.removeChild(images[0]);
        }

        
        // display the image  
        
        document.body.appendChild(newImage);

        newImage.onload = function () 
        {
            var imageWidth = newImage.offsetWidth,
                imageHeight = newImage.offsetHeight;
                console.log(imageWidth, imageHeight);

                if(imageWidth > imageHeight)
                {
                    vpWidth = document.documentElement.clientWidth,
                    vpHeight = document.documentElement.clientHeight
                }
                else{
                    vpWidth = document.documentElement.clientWidth,
                    vpHeight = document.documentElement.clientHeight + 400
                }
                

            this.style.position = 'absolute'
            this.style.left = (vpWidth - imageWidth)/2 + 'px';   
            this.style.top = (vpHeight - imageHeight)/2 + window.pageYOffset + 'px';
        }    
} 

function display_random_image_kitten() 
{
    var images = 
        [
        {src: "http://zacoberg.com/static/images/kitten/1.jpg"}, 
        {src: "http://zacoberg.com/static/images/kitten/2.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/3.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/4.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/5.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/6.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/7.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/8.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/9.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/10.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/11.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/12.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/13.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/14.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/15.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/16.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/17.jpg"}, 
        {src: "http://zacoberg.com/static/images/kitten/18.jpg"}, 
        {src: "http://zacoberg.com/static/images/kitten/19.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/20.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/21.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/22.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/23.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/24.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/25.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/26.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/27.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/28.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/29.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/30.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/31.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/32.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/33.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/34.jpg"},    
        {src: "http://zacoberg.com/static/images/kitten/35.jpg"}, 
        {src: "http://zacoberg.com/static/images/kitten/36.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/37.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/38.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/39.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/40.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/41.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/42.jpg"},
        {src: "http://zacoberg.com/static/images/kitten/43.jpg"}
        ];
    
    var preBuffer = [];
    for (var i = 0, j = images.length; i < j; i++) 
    {
        preBuffer[i] = new Image();
        preBuffer[i].src = images[i].src;
    }
   
        // get random image number but don't repeat until all have been chosen 
        /*function randomNoRepeats(array){
            var copy = array.slice(0);
            return function(){
                if (copy.length < 1 ) {copy = array.slice(0);}
                var index = Math.floor(Math.random() * copy.length);
                var item = copy[index];
                copy.splice(index, 1);
                return item;
            };
        }*/






        // create random image number
        function getRandomImage(min,max) 
        {
        //  return Math.floor(Math.random() * (max - min + 1)) + min;
    
        imn = Math.floor(Math.random() * (max - min + 1)) + min;
        return preBuffer[imn];
        }  

        // 0 is first image,   preBuffer.length - 1) is  last image
  
        var newImage = getRandomImage(0, preBuffer.length - 1);
 
        // remove the previous images
        var images = document.getElementsByTagName('img');
        var l = images.length;
        for (var p = 0; p < l; p++) {
         images[0].parentNode.removeChild(images[0]);
        }

        
        // display the image  
        
        document.body.appendChild(newImage);

        newImage.onload = function () 
        {
            var imageWidth = newImage.offsetWidth,
                imageHeight = newImage.offsetHeight;
                console.log(imageWidth, imageHeight);

                if(imageWidth > imageHeight)
                {
                    vpWidth = document.documentElement.clientWidth,
                    vpHeight = document.documentElement.clientHeight
                }
                else{
                    vpWidth = document.documentElement.clientWidth,
                    vpHeight = document.documentElement.clientHeight + 400
                }
                

            this.style.position = 'absolute'
            this.style.left = (vpWidth - imageWidth)/2 + 'px';   
            this.style.top = (vpHeight - imageHeight)/2 + window.pageYOffset + 'px';
        }    
} 
</script>
{% endblock %}